{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İstatistik</title>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js">
</script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col  col-lg-4">
      <div class="alert alert-success">
  <strong>En Yüksek Takipçisi olan hesap : </strong> <br>

          <strong>Kullanıcı Adı : </strong>  {{list.kuladi}}<br>
          <strong>Takipçi Sayısı: </strong> {{enyuksek}}<br>
          <strong>Takip Sayısı: </strong> {{list.takip}}<br>
          <strong>Gönderi Sayısı: </strong> {{list.paylasim}}<br>
          <img src="{{ list.profilresmi }}" class="img-circle" alt="Cinque Terre">

</div>
    </div>
    <div class="col  col-lg-4">
        <div class="alert alert-warning">
<strong>Takip ettiği kişi sayısı en fazla olan hesap : </strong> <br>
          <strong>Kullanıcı Adı : </strong>  {{lists.kuladi}}<br>
          <strong>Takipçi Sayısı: </strong> {{lists.takipci}}<br>
          <strong>Takip Sayısı: </strong> {{eytakip}}<br>
          <strong>Gönderi Sayısı: </strong> {{lists.paylasim}}<br>
          <img src="{{ lists.profilresmi }}" class="img-circle" alt="Cinque Terre">
        </div>
    </div>
       <div class="col  col-lg-4">
        <div class="alert alert-danger">
<strong>En fazla gönderi paylaşan hesap : </strong> <br>
          <strong>Kullanıcı Adı : </strong>  {{listss.kuladi}}<br>
          <strong>Takipçi Sayısı: </strong> {{listss.takipci}}<br>
          <strong>Takip Sayısı: </strong> {{listss.takip}}<br>
          <strong>Gönderi Sayısı: </strong> {{eypaylasim}}<br>
          <img src="{{ listss.profilresmi }}" class="img-circle" alt="Cinque Terre">

  </div>
       </div>
</div>
    <div class="row">
        <div class="col col-lg-6">
            <canvas id="myChart" width="300" height="150"></canvas>

        </div>
    </div>

</div>


<script type="text/javascript">
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["CS", "IT" , "ECE" , "EE", "ME", "BE","23"],
    datasets: [
      { label: '{{filtre.takipci}}',
        data: [88,88,88,88,88,88,88],
        backgroundColor :['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
],

borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
borderWidth : 1
      }
    ]
  },
  options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

    </script>
</body>
</html>
{% endblock %}